<h1>英語日記<h1>
<button id="info-button" class="btn btn-info">このアプリについて</button>

<div id="info-popup" style="display: none;">
  <p>ここにアプリについての説明を書くんだ！</p>
  <button id="close-popup">閉じる</button>
</div>

<h1> <%= link_to 'ログイン', new_user_session_path, class: 'login-link' %> <h1>