<footer class="site-footer">
  <ul>
    <li><%= link_to t('layouts.application.footer.terms'), terms_path %></li>
    <li><%= link_to t('layouts.application.footer.privacy'), privacy_path %></li>
    <li><%= link_to t('layouts.application.footer.contact'), contact_path %></li>
  </ul>
</footer>
