<p><%= link_to '＜My Page', mypages_top_path %></p>
<h1>Settings</h1>

<p><%= link_to 'Edit User', edit_user_registration_path %></p>

<p><%= link_to 'Google account linkage', mypages_google_account_path %></p>