<h1><%= t('mypages.settings.title') %></h1>

<p><%= link_to t('mypages.settings.edit_user'), edit_user_registration_path %></p>

<p><%= link_to t('mypages.settings.google_account_linkage'), mypages_google_account_path %></p>

<p><%= link_to t('mypages.settings.notification_settings'), mypages_notification_settings_path %></p>