.calendar-heading {
  display: flex;
  justify-content: space-between; /* 要素間のスペースを確保 */
  align-items: center; /* 垂直方向に中央寄せ */

  .month-number {
    font-size: 2em; /* サイズを指定 */
    font-weight: bold; /* 太字 */
  }

  .calendar-nav {
    display: flex; /* Flexboxを使用 */
    justify-content: flex-end; /* 右寄せ */
    gap: 1em; /* リンク間のスペースを設定 */
  }
}

.calendar-title {
  display: inline-flex; /* 月と年を横並びに */
  align-items: baseline;
  gap: 5px; /* 月と年の間のスペース */

  .calendar-month {
    font-size: 2em;
    font-weight: bold;
  }

  .calendar-year {
    font-size: 1.5em;
    font-weight: bold;
  }
}

.content_japanese,
.content_english {
  margin: 1em 0;
}

/* マウスオーバー時のセルのスタイル */
.simple-calendar {
  .day {
    background: #fff9ee;
  }
  .wday-0 {
    background: #ffeaea;
    color: #ff505c;
  }
  .wday-6 {
    background: #d4ebff;
    color: #5984dc;
  }
  .today {
    background: #FFA0A0;
  }
}
/* マウスオーバー時のセルのスタイル */
.simple-calendar td:hover {
  background-color: #eaeaea; /* セルにマウスを乗せたときの背景色 */
}